.content-animation {
    animation: slide-in1 1.5s ease 5s 1 normal forwards;
}

.switcher-animation {
    animation: switcherAnimation 2s ease-out 0s 1 normal forwards;
}

.nav-animation {
	animation: navAnim 3s ease-out 4.5s 1 normal forwards;
}

.mobile-menu-anim {
	animation: slide-in1 1.5s ease 0s 1 normal forwards;
}

.hover-animation:hover {
	animation: hoverAnimation 0.2s ease 0s 1 normal forwards;
	cursor: pointer;
}

@keyframes slide-in1 {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes switcherAnimation {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes navAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes hoverAnimation {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(-3px);
	}
}



.secondary-description-line1-anim {
	animation: line1 1s ease-out 1s 1 forwards;
}

.secondary-description-line2-anim {
	animation: line2 1s ease-out 2s 1 forwards;
}

.title-anim {
	animation: title 1s ease-out 4.5s 1 forwards;
}

.main-description-anim {
	animation: mainDescription 1s ease-out 0s 1 forwards;
}

.cookie-animation {
	animation: cookieAnimation 1.5s ease 5s 1 normal forwards;
}

@keyframes line1 {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes line2 {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes title {
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes mainDescription {
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes cookieAnimation {
	100% {
		opacity: 0.9;
	}
}



.normal-animation {
	animation: normalAnimation 1.5s ease 0.2s 1 normal forwards;
}

@keyframes normalAnimation{
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}