nav {
    opacity: 1 !important;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradient {
    background: linear-gradient(91.39deg, #4D94F5 0%, #45DF6B 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.url-input-and-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-url {
    font-size: calc(var(--size-heading) - (var(--size-heading) / 6 * 3.5));
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 0.5rem;
    color: #000000;
    text-align: left;
    width: 80%;
    box-shadow: var(--color-iframes-box-shadow);
}

.button-generate {
    background-color: var(--color-nav);
    font-size: calc(var(--size-heading) - (var(--size-heading) / 6 * 3.5));
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0.5rem;
    margin: 0;
    box-shadow: var(--color-iframes-box-shadow);
}

.generated-iframe {
    opacity: 0;
    width: 90%;
    height: 15rem;
    border-radius: 15px;
    box-shadow: var(--color-iframes-box-shadow);
}

.generated-pre {
    opacity: 0;
    background-color: #0E1116;
    width: fit-content;
    box-shadow: var(--color-iframes-box-shadow);
    padding: 0.5rem;
    text-align: left;
}