doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Repo Share

        link(rel="stylesheet", href="../css/index.css")
        link(rel="stylesheet", href="../css/responsive.css")
        link(rel="stylesheet", href="../css/animations.css")

        script(defer src="../js/client-index.js") 
    body.dark
        nav.nav-pc.nav-animation
            div
            .nav-content
                .menu-box
                    img(src="../images/menu-icon.png").menu-icon
                    p MENU
                .links
                    .nav-element.hover-animation
                        a(href="/") HOME
                    .nav-element.hover-animation
                        a(href="") ABOUT
                    .nav-element.hover-animation
                        a(href="") API
                    .nav-element.hover-animation
                        a(href="https://github.com/Cimlah/Repo-Share" target="_blank") GITHUB
                img(src="../images/moon.png").theme-switcher
            div
        
        nav.nav-mobile.nav-animation
            img(src="../images/menu-icon.png").menu-icon.menu-icon-mobile
        

        main
            h1.title Repo Share
            h2
                .main-description
                    | A NodeJS app generating an iframe based on information about your repository, 
                    span.description-gradient so you can show off your portfolio in an elegant way
                .secondary-description
                    p.secondary-description-line1 You want to share your GitHub portfolio
                    p.secondary-description-line2 But don't know how to do it the right way?
            .content-animation
                button.share-your-repo.hover-animation Share Your Repo Now
            .examples.content-animation
                iframe.example-iframe.iframe1.hover-animation(src="gh/flackr/scroll-timeline", frameborder="0") 
                iframe.example-iframe.iframe2.hover-animation(src="gh/tumic0/GPXSee", frameborder="0") 
                iframe.example-iframe.iframe3.hover-animation(src="/gh/Phyremaster/papermc-docker", frameborder="0") 
                iframe.example-iframe.iframe4.hover-animation(src="/gh/raspberrypi/linux", frameborder="0") 
                iframe.example-iframe.iframe5.hover-animation(src="/gh/spacedriveapp/spacedrive", frameborder="0") 
        
        section.nav-mobile-menu.mobile-menu-anim(style="display: none;")
            .links
                .nav-element.hover-animation
                    a(href="") HOME
                .nav-element.hover-animation
                    a(href="") ABOUT
                .nav-element.hover-animation
                    a(href="") API
                .nav-element.hover-animation
                    a(href="") GITHUB
            img(src="../images/moon.png").theme-switcher