doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Share Your Repo

        link(rel="stylesheet", href="../css/index.css")
        link(rel="stylesheet", href="../css/animations.css")
        link(rel="stylesheet", href="../css/share-repo.css")
        link(rel="stylesheet", href="../css/responsive.css")

        script(defer src="../js/client-index.js") 
        script(defer src="../js/generate-iframe.js") 
    body.dark
        nav.nav-pc
            div
            .nav-content
                .menu-box
                    img(src="../images/menu-icon.png").menu-icon
                    p MENU
                .links
                    .nav-element.hover-animation
                        a(href="/") HOME
                    .nav-element.hover-animation
                        a(href="") ABOUT
                    .nav-element.hover-animation
                        a(href="") API
                    .nav-element.hover-animation
                        a(href="https://github.com/Cimlah/Repo-Share" target="_blank") GITHUB
                img(src="../images/moon.png").theme-switcher
            div
        
        nav.nav-mobile
            img(src="../images/menu-icon.png").menu-icon.menu-icon-mobile

        main.normal-animation
            h2
                | Generate an elegant iframe for 
                span.bold.italic.gradient Your repository
            .url-input-and-button
                input.input-url(type="url", name="GitHub Repo URL", placeholder="https://github.com/your/repo")
                button.button-generate.hover-animation Generate
            <br/>
            
            iframe.generated-iframe(src="", frameborder="0")
            pre.generated-pre
        
        section.nav-mobile-menu.mobile-menu-anim(style="display: none;")
            .links
                .nav-element.hover-animation
                    a(href="/") HOME
                .nav-element.hover-animation
                    a(href="") ABOUT
                .nav-element.hover-animation
                    a(href="") API
                .nav-element.hover-animation
                    a(href="https://github.com/Cimlah/Repo-Share" target="_blank") GITHUB
            img(src="../images/moon.png").theme-switcher